<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zkyunso.db.mybatis.dao.DsDetailsMapper">
	<resultMap type="DsDetails" id="dsDetailsResult">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="remark" property="remark"/>
		<result column="dbType" property="dbType"/>
		<result column="dbUrl" property="dbUrl"/>
		<result column="createTime" property="createTime"/>
		<result column="serverIp" property="serverIp"/>
		<result column="serverPort" property="serverPort"/>
		<result column="serverUsrname" property="serverUsrname"/>
		<result column="serverPsword" property="serverPsword"/>
		<result column="dbName" property="dbName"/>
		<result column="encode" property="encode"/>
		<result column="defaultTb" property="defaultTb"/>
	</resultMap>

	<!-- 取得插入数据后的id -->
	<insert id="save" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into DsDetails(name,remark,dbType,dbUrl,serverIp,serverPort,serverUsrname,serverPsword,dbName,encode,defaultTb)
		values(#{name},#{remark},#{dbType},#{dbUrl},#{serverIp},#{serverPort},#{serverUsrname},#{serverPsword},#{dbName},#{encode},#{defaultTb})
	</insert>

	<update id="update">
		update DsDetails
		set name = #{name},
			remark = #{remark},
			dbType = #{dbType},
			dbUrl = #{dbUrl},
			serverIp = #{serverIp},
			serverPort = #{serverPort},
			serverUsrname = #{serverUsrname},
			serverPsword = #{serverPsword},
			dbName=#{dbName},
			encode=#{encode},
			defaultTb=#{defaultTb}
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from DsDetails
		where id = #{id}
	</delete>

	<select id="getById" resultMap="dsDetailsResult">
		select *
		from DsDetails
		where id = #{id}
	</select>
	
	<select id="getAll" resultMap="dsDetailsResult">
		select * 
		from DsDetails
	</select>
</mapper>
